<!-- Start Header Area -->
<header class="header-area">
    <!-- Start Navbar Area -->
    <div class="navbar-area">
        <div class="mobile-responsive-nav">
            <div class="container">
                <div class="mobile-responsive-menu">
                    <div class="logo">
                        <a href="{% url 'home' %}">
							<img src="https://via.placeholder.com/157x48.jpg?text=School+Logo" alt="logo">
						</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="desktop-nav">
            <div class="container">
                <nav class="navbar navbar-expand-md navbar-light">
                    <a class="navbar-brand" href="{% url 'home' %}">
                            <img src="https://via.placeholder.com/157x48.jpg?text=School+Logo" alt="logo">
                        </a>

                    <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item">
                                <a href="{% url 'home' %}" class="nav-link">Home</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    About <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="{% url 'history' %}" class="nav-link">History of the school</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/mission_vision/" class="nav-link">Mission &amp; Vision</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#" class="nav-link">
                                                School Management 
                                                <i class="ri-arrow-down-s-line"></i>
                                            </a>

                                        <ul class="dropdown-menu">
                                            <li class="nav-item">
                                                <a href="{% url 'leadership_team' %}" class="nav-link">Leadership Team</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'teachers' %}" class="nav-link">Teachers</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Teaching assistants</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Office staff</a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" class="nav-link">Support staff</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'curriculum' %}" class="nav-link">Curriculum</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'events' %}" class="nav-link">Events</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'news' %}" class="nav-link">News</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Admissions <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="/reception/" class="nav-link">Reception</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/nursery/" class="nav-link">Nursery (Class 1-3)</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/primary/" class="nav-link">Primary (Class 1-6)</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    School <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="/school-day/" class="nav-link">Our School Day</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/school-uniform/" class="nav-link">School Uniform</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/school-meals/" class="nav-link">School meals</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/school-policies/" class="nav-link">School Policies</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/school-performance/" class="nav-link">School performance data</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    Parents <i class="ri-arrow-down-s-line"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item">
                                        <a href="{% url 'resolutions' %}" class="nav-link">PTA meeting resolutions</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'pta_management' %}" class="nav-link">PTA management</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'gallery' %}" class="nav-link">Gallery</a>
                            </li>
                        </ul>

                        <div class="others-options">
                            <ul>
                                <li>
                                    <a href="{# url 'application' #}" class="default-btn">Application form</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- End Navbar Area -->
</header>
<!-- End Header Area -->
