{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area bg-27">
    <div class="container">
        <div class="page-title-content">
            <h2>Application</h2>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="active">Submit Application</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Candidates Resume Area -->
<section class="candidates-resume-area ptb-100">
    <div class="container">
        <div class="candidates-resume-content">
            <form class="resume-info">
                <h3>Basic information</h3>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input class="form-control" type="text" name="First-Name">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Class</label>
                            <select class="form-control">
									<option value="1">Nursery 1</option>
									<option value="2">Nursery 2</option>
                                    <option value="3">Nursery 3</option>
                                    <option value="4">Primary 1</option>
                                    <option value="5">Primary 2</option>
                                    <option value="6">Primary 3</option>
                                    <option value="7">Primary 4</option>
                                    <option value="8">Primary 5</option>
                                    <option value="9">Primary 6</option>
								</select>
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="img">Photo</label>
                            <input type="file" class="form-control" id="img-1" name="img" accept="image/*">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <div class="input-group date" id="datetimepicker">
                                <input type="text" class="form-control">
                                <span class="input-group-addon"></span>
                                <i class="bx bx-calendar"></i>
                            </div>
                        </div>
                    </div>

                    <p>Photo Must be in Passport (PP) Size. Max Upload Size 256KB</p>
                </div>

                <h3>Student personal information</h3>

                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Parent's name</label>
                            <input type="text" class="form-control" name="Father">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Contact no</label>
                            <input type="text" class="form-control" name="contact">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input type="email" class="form-control" name="email">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label>Home address</label>
                            <input type="text" class="form-control" name="address">
                        </div>
                    </div>
                    
                    <div class="col-lg-12">
                        <a href="#" class="default-btn">
                                Submit application
                                <i class="ri-arrow-right-line"></i>
                            </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Candidates Resume Area -->

{% endblock %}