{% extends "base.html" %}
{% block title %}Submit Application{% endblock %}

{% block content %}

<div class="page-title-area bg-27">
    <div class="container">
        <div class="page-title-content">
            <h2>Application</h2>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Submit Application</li>
            </ul>
        </div>
    </div>
</div>

<section class="candidates-resume-area ptb-100">
    <div class="container">
        {% include '_alerts.html' %}
        {% if form.errors %}
          {% for field in form %}
          {% if field.errors %}
          <div class="alert alert-primary" role="alert">
            {{ field.label }}: {{ field.errors|striptags }}
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        <div class="candidates-resume-content">
            <form class="resume-info" method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                <h3>Pupil information</h3>
                {# form.as_p #}
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="form-group">
                            <label for="id_full_name">Name of child (required)</label>
                            {{ form.full_name }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <label for="id_gender">Gender (required)</label>
                            {{ form.gender }}
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <div class="form-group">
                            <label for="id_date_of_birth">Date of Birth (required)</label>
                            <div class="input-group date">
                                {{ form.date_of_birth }}
                                <span class="input-group-addon"></span>
                                <i class="bx bx-calendar"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_image">Photo (required)</label>
                            {{ form.image }}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_pupil_class">Class (required)</label>
                            {{ form.pupil_class }}
                            <i class="ri-arrow-down-s-line"></i>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_child_id_document">Pupil Document (required)</label>
                            {{ form.child_id_document }}
                        </div>
                    </div>
                </div>

                <h3>Parent/ Guardian's information</h3>

                <div class="row">
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_father_name">Father's name</label>
                            {{ form.father_name }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_father_contact_number">Father's contact no</label>
                            {{ form.father_contact_number }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_father_id_document">Father's ID Document</label>
                            {{ form.father_id_document }}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_mother_name">Mother's name</label>
                            {{ form.mother_name }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_mother_contact_number">Mother's contact no</label>
                            {{ form.mother_contact_number }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_mother_id_document">Mother's ID Document</label>
                            {{ form.mother_id_document }}
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_email">Contact E-mail</label>
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="form-group">
                            <label for="id_home_address">Home address (required)</label>
                            {{ form.home_address }}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="id_city">City</label>
                            {{ form.city }}
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <div class="form-group">
                            <label for="id_state">State</label>
                            {{ form.state }}
                        </div>
                    </div>

                    
                    <div class="col-lg-12">
                        <input type="submit" class="default-btn" value="Submit application">
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Candidates Resume Area -->

{% endblock %}