{% extends "base.html" %}
{% block title %}School Curriculum{% endblock %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area bg-20">
    <div class="container">
        <div class="page-title-content">
            <h2>School Curriculum</h2>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li class="active">Subjects Taught</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Study Area -->
<section class="studys-area ptb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Subjects Offered</h2>
        </div>

        <div class="row justify-content-center">
            {% for subject in subjects %}
            <div class="col-lg-4 col-md-6">
                <div class="single-study study-f3f3f4 text-center">
                    <h3>{{ subject.name }}</h3>
                    <p>{{ subject.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Study Area -->

{% endblock %}