{% extends "base.html" %}
{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}

    <!-- Start Page Title Area -->
    <div class="page-title-area bg-13">
        <div class="container">
            <div class="page-title-content">
                <h2>Frequently Asked Questions</h2>
                <ul>
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="active">FAQ</li>
                </ul>
            </div>
        </div>
    </div>
    <!-- End Page Title Area -->

    <!-- Start FAQ Area -->
    <section class="faq-area pt-100 pb-70">
        <div class="container">
            <div class="section-title">
                <h2>Frequently asked questions</h2>
            </div>

            <div class="faq-bg">
                <div class="faq-accordion">
                    <ul class="accordion">
                        {% for faq in faqs %}
                        <li class="accordion-item">
                            <a class="accordion-title" href="javascript:void(0)">
								<i class="ri-add-line"></i>
								{{ forloop.counter }}. {{ faq.question }}
							</a>

                            <div class="accordion-content">
                                <p>{{ faq.answer|linebreaks }}</p>
                            </div>
                        </li>
                        {% empty %}
                        <li class="text-center">No Questions For You Yet!</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End FAQ Area -->
{% endblock %}