{% extends "base.html" %}
{% block title %}School Gallery{% endblock %}

{% block content %}

<div class="page-title-area bg-6">
    <div class="container">
        <div class="page-title-content">
            <h2>School Gallery</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Our School Gallery</li>
            </ul>
        </div>
    </div>
</div>

<div class="gallery-area gallery-popup ptb-100">
    <div class="container">
        <div class="row justify-content-center">
            {% for picture in pictures %}
            <div class="col-lg-4 col-md-6">
                <div class="single-gallery">
                    <img src="{{ picture.image.url }}" height="650" width="650" alt="Image">
                    <div class="gallery-item-content">
                        <div class="gallery-link">
                            <a href="{{ picture.image.url }}">
                                <i class="ri-add-fill"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
                <p class="text-center">No Pictures in Gallery</p>
            {% endfor %}
            <!-- <div class="cal-12">
                <div class="gallery-btn">
                    <a href="#" class="default-btn load-more">
                            <span>
                                Load more
                                <i class="ri-arrow-right-line"></i>
                            </span>
                        </a>
                </div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}