{% extends "base.html" %}
{% block title %}Our School History{% endblock %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area bg-6">
    <div class="container">
        <div class="page-title-content">
            <h2>Our School History</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Our School History</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start History Area -->
<section class="campus-experiences-area ptb-100">
    <div class="container">
        <div class="main-default-content">
            {{ about.history|safe }}
        </div>
    </div>
</section>
<!-- End History Area -->

{% endblock %}