{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<section class="banner-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner-content">
                            <span>Welcome Note</span>
                            <h1>Welcome to Euroclass Vision School. A world-class education starts from the foundation lorem ipsum consecteur egestas non nisi.</h1>
                            <div class="banner-btn pb-2">
                                <a href="application.html" class="default-btn">
                                    Apply for Admission
                                    <i class="ri-arrow-right-line"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-img">
                            <img src="https://via.placeholder.com/825x830" alt="Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Stat About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img mr-15">
                    <img src="https://via.placeholder.com/700x500" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-content ml-15">
                    <span>About our School</span>
                    <h2>Our education system inspires the next generation</h2>

                    <p>Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

                    <a href="history.html" class="default-btn">
						Read more
						<i class="ri-arrow-right-line"></i>
					</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Events Area -->
<section class="events-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="events-content mr-15">
                    <span>Events</span>
                    <h2>Upcoming events</h2>

                    <ul class="events-list">
                        <li>
                            <div class="events-date">
                                <span class="mb-2">01 May</span>
                                <span>2031</span>
                            </div>
                            <span>Sports</span>
                            <h3>Interhouse Sports</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="event_detail.html" class="read-more">
								Find out more
								<i class="ri-arrow-right-line"></i>
							</a>
                        </li>

                        <li>
                            <div class="events-date">
                                <span class="mb-2">02 May</span>
                                <span>2031</span>
                            </div>
                            <span>Social</span>
                            <h3>Cultural Day and Education Fair</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="event_detail.html" class="read-more">
								Find out more
								<i class="ri-arrow-right-line"></i>
							</a>
                        </li>

                        <li>
                            <div class="events-date">
                                <span class="mb-2">02 May</span>
                                <span>2031</span>
                            </div>
                            <span>Party</span>
                            <h3>End of Year Christmas Party</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <a href="event_detail.html" class="read-more">
                                Find out more
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="events-timer ml-15">
                    <div class="event-img">
                        <img src="https://via.placeholder.com/700x550" alt="Image">
                    </div>

                    <span>Next Event</span>

                    <div id="timer">
                        <div id="days"></div>
                        <div id="hours"></div>
                        <div id="minutes"></div>
                        <div id="seconds"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Events Area -->

<!-- Stat Admission Area -->
<section class="admission-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="admission-img mr-15">
                    <img src="https://via.placeholder.com/700x500" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="admission-content ml-15">
                    <span>Admission information</span>
                    <h2>All types of admission information into the school can be found here</h2>
                    <p>Curabitur aliquet quam id dui posuere blandit. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus.
                        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula.</p>

                    <a href="admission.html" class="default-btn">
						Read more
						<i class="ri-arrow-right-line"></i>
					</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Admission Area -->

<!-- Start Costing Area -->
<section class="costing-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="costing-content">
                    <h2>Tuition costs</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-costing-card">
                    <h3>Nursery School</h3>
                    <span class="subtitle">3-month Terms</span>

                    <p>First Term <span>(January - March)</span> <span class="price"> <br> #25,000</span> </p>

                    <p>Second Term <span> (May-July)</span> <span class="price"> <br> #25,000</span> </p>

                    <p>Third Term <span>(September - November)</span> <span class="price"> <br> #20,000</span> </p>

                    <ul>
                        <li>
                            Total
                        </li>
                        <li class="price">
                            #70,000
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-costing-card">
                    <h3>Primary School</h3>
                    <span class="subtitle">3-month Terms</span>

                    <p>First Term <span>(January - March)</span> <span class="price"> <br> #35,000</span> </p>

                    <p>Second Term <span> (May-July)</span> <span class="price"> <br> #35,000</span> </p>

                    <p>Third Term <span>(September - November)</span> <span class="price"> <br> #30,000</span> </p>

                    <ul>
                        <li>
                            Total
                        </li>
                        <li class="price">
                            #100,000
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Costing Area -->

<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>School news</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt laboredolore magna suspendisse ultrices gravida.</p>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="news_detail.html" class="blog-img">
						<img src="https://via.placeholder.com/860x500" alt="Image">
						<span>Academics</span>
					</a>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-calendar-line"></i>
                                <span>26 March, 2021</span>
                            </li>
                        </ul>

                        <h3>
                            <a href="news_detail.html">Updates on Cultural day</a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi dicta ex labore. Ipsum nobis amet nisi voluptate corporis consectetur adipisicing elit alias</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="news_detail.html" class="blog-img">
                        <img src="https://via.placeholder.com/860x500" alt="Image">
                        <span>Academics</span>
                    </a>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-calendar-line"></i>
                                <span>26 March, 2021</span>
                            </li>
                        </ul>

                        <h3>
                            <a href="news_detail.html">Updates on Cultural day</a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi dicta ex labore. Ipsum nobis amet nisi voluptate corporis consectetur adipisicing elit alias</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="news_detail.html" class="blog-img">
                        <img src="https://via.placeholder.com/860x500" alt="Image">
                        <span>Academics</span>
                    </a>

                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-calendar-line"></i>
                                <span>26 March, 2021</span>
                            </li>
                        </ul>

                        <h3>
                            <a href="news_detail.html">Updates on Cultural day</a>
                        </h3>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam animi dicta ex labore. Ipsum nobis amet nisi voluptate corporis consectetur adipisicing elit alias</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Area -->

{% endblock %}