{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<!-- Start Banner Area -->
<!-- <section class="banner-area" style="opacity: 1;height: 400px; background-image: url({% static 'banner.jpg' %});">
    <div class="container">
        <div class="text-white">
            <span>Welcome Note</span>
            <h1 class="mb-2" style="color:brown;">{{ about.welcome_note }}</h1>
            <div class="banner-btn pb-2">
                <a href="{% url 'application' %}" class="default-btn">
                    Apply for Admission
                    <i class="ri-arrow-right-line"></i>
                </a>
            </div>
        </div>
    </div>
</section> -->

<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="about-content ml-15">
                    <span>Welcome Note</span>
                    <h2>{{ about.welcome_note }}</h2>
                    <a href="{% url 'application' %}" class="default-btn">
                        Apply for Admission
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-img-two mr-15">
                    {% if about.welcome_note_image %}
                    <img src="{{ about.welcome_note_image.url }}" alt="Image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Welcome -->
<!-- Stat About Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <div class="about-img-two mr-15">
                    {% if about.history_image %}
                    <img src="{{ about.history_image.url }}" alt="Image">
                    {% endif %}
                </div>
            </div>

            <div class="col-xl-6">
                <div class="about-content ml-15">
                    <!-- <span>About our School</span> -->
                    <h2>{{ about.history_title }}</h2>
                    <p>{{ about.history|safe|truncatechars:420 }}</p>
                    <a href="{% url 'history' %}" class="default-btn">
                        Read more
                        <i class="ri-arrow-right-line"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Events Area -->
{% if events %}
<section class="events-area bg-color ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="events-content mr-15">
                    <span>Events</span>
                    <h2>Upcoming events</h2>

                    <ul class="events-list">
                        {% for event in events %}
                        <li>
                            <div class="events-date">
                                <span class="mb-2">{{ event.date|date:"j F" }}</span>
                                <span>{{ event.date|date:"Y" }}</span>
                            </div>

                            <span>{{ event.category }}</span>
                            <h3>
                                <a href="{% url 'event_detail' event.slug %}">{{ event.title }}</a>
                            </h3>
                            <p>{{ event.description|truncatechars:150 }}</p>

                            <a href="{% url 'event_detail' event.slug %}" class="read-more">
                                Find out more
                                <i class="ri-arrow-right-line"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            {% if next_event %}
            <div class="col-lg-5">
                <div class="events-timer mr-15">
                    <div class="event-img">
                        <img src="{% if next_event.image %}{{ next_event.image.url }}{% else %}https://via.placeholder.com/700x550.jpg{% endif %}" alt="Image">
                    </div>

                    <span>Next Event</span>

                    <div id="timer">
                        <div id="days"></div>
                        <div id="hours"></div>
                        <div id="minutes"></div>
                        <div id="seconds"></div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endif %}
<!-- End Events Area -->

<!-- Stat Admission Area -->
<section class="about-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="admission-content ml-15">
                    <span>Admission information</span>
                    <h2>All types of admission information into the school can be found here</h2>
                    <p>{{ about.admission_information|safe|truncatechars:420 }}</p>

                    <a href="{% url 'admission' %}" class="default-btn">
						Read more
						<i class="ri-arrow-right-line"></i>
					</a>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="about-img-two mr-15">
                    {% if about.admission_information_image %}
                    <img style="width: 700px;" src="{{ about.admission_information_image.url }}" alt="Image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Admission Area -->

<!-- Start Costing Area -->
<section class="costing-area pt-100 pb-70">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6">
                <div class="costing-content">
                    <h2>Tuition costs</h2>
                    <p>Our rates are affordable to ensure that nobody is left out in their quest for academic excellence.</p>
                </div>
            </div>

            {% for tuition in tuitions %}
            <div class="col-lg-4 col-md-6">
                <div class="single-costing-card">
                    <h3>{{ tuition.tuition_info }}</h3>
                    <span class="subtitle">3-month Terms</span>

                    <p>First Term <span>({{ tuition.first_term_period }})</span> <span class="price"> <br> &#8358;{{ tuition.first_term_price }}</span> </p>

                    <p>Second Term <span> ({{ tuition.second_term_period }})</span> <span class="price"> <br> &#8358;{{ tuition.second_term_price }}</span> </p>

                    <p>Third Term <span>({{ tuition.third_term_period }})</span> <span class="price"> <br> &#8358;{{ tuition.third_term_price }}</span> </p>

                    <ul>
                        <li>
                            Total
                        </li>
                        <li class="price">
                            &#8358;{{ tuition.term_total }}
                        </li>
                    </ul>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Costing Area -->

<!-- Start Blog Area -->
<section class="blog-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>School news</h2>
            <p>Latest updates about activities from the Nursery and Primary School.</p>
        </div>

        <div class="row justify-content-md-center">
            {% for obj in news %}
            <div class="col-lg-4 col-md-6">
                <div class="single-blog">
                    <a href="{% url 'news_detail' obj.slug %}" class="blog-img">
                        <img src="{% if obj.image %}{{ obj.image.url }}{% else %}https://via.placeholder.com/860x500{% endif %}" alt="{{ obj.title }}">
                        <!-- <span>{{ obj.category }}</span> -->
                    </a>
                    <div class="blog-content">
                        <ul>
                            <li>
                                <i class="ri-calendar-line"></i>
                                <span>{{ obj.created|date:"F j, Y" }}</span>
                            </li>
                        </ul>

                        <h3>
                            <a href="{% url 'news_detail' obj.slug %}">{{ obj.title }}</a>
                        </h3>

                        <p>{{ obj.body|safe|truncatechars:160 }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Blog Area -->

{% endblock %}