{% extends "base.html" %}
{% block title %}Mission and Vision{% endblock %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area bg-6">
    <div class="container">
        <div class="page-title-content">
            <h2>Mission and Vision</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Mission and Vision</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Mission and Vision Area -->
<section class="campus-experiences-area ptb-100">
    <div class="container">
        <div class="main-default-content">
            <h3>Mission Statement</h3>
            <p>{{ about.mission|safe }}</p>

            <div class="gap-20"></div>

            <h4>Vision Statement</h4>
            <p>{{ about.vision|safe }}</p>
            
        </div>
    </div>
</section>
<!-- End Mission and Vision Area -->

{% endblock %}