{% extends "base.html" %}
{% block title %}{{ resolution.title }}{% endblock %}

{% block content %}

<!-- Start Page Title Area -->
<div class="page-title-area bg-20">
    <div class="container">
        <div class="page-title-content">
            <h2>PTA Meeting Details</h2>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>
                <li>
                    <a href="{% url 'resolutions' %}">Meeting Resolutions</a>
                </li>
                <li class="active">{{ resolution.title }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content mr-15">
                    <div class="blog-top-content">
                        <div class="blog-content">
                            <ul class="admin">
                                <li><i class="ri-user-3-fill"></i> Admin</li>

                                <li>
                                    <i class="ri-calendar-2-line"></i> {{ resolution.created|date:"F j, Y" }}
                                </li>
                            </ul>

                            <h3>{{ resolution.title }}</h3>

                            {{ resolution.body|safe }}

                            <div class="gap-mb-20"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-4">
                <div class="widget-sidebar ml-15">
                    <div class="sidebar-widget recent-post">
                        <h3 class="widget-title">Latest news</h3>

                        <ul>
                            {% for news in latest_news %}
                            <li>
                                <a href="{% url 'news_detail' news.slug %}">
                                    {{ news.title }}
                                    <img src="{{ news.image.url }}" width="70px" alt="{{ news.title }}">
                                </a>
                                <span>{{ news.created|date:"F j, Y" }}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>


{% endblock %}