{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>{{ flatpage.title }}</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{ flatpage.title }}</li>
            </ul>
        </div>
    </div>
</div>

<section class="ptb-100">
    <div class="container">
        <div class="main-default-content">
            {{ flatpage.content|safe }}
        </div>
    </div>
</section>

{% endblock %}