{% extends "base.html" %}
{% block title %}{{ flatpage.title }}{% endblock %}

{% block content %}
<!-- Start Page Title Area -->
<div class="page-title-area bg-7">
    <div class="container">
        <div class="page-title-content">
            <h2>{{ flatpage.title }}</h2>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">{{ flatpage.title }}</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- End Privacy Policy Area -->
<section class="privacy-policy-area ptb-100">
    <div class="container">
        <div class="main-default-content">
            {{ flatpage.content }}
        </div>
    </div>
</section>
<!-- End Privacy Policy Area -->

{% endblock %}